@reference "tailwindcss";
@source "../views";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
}

.livewire-tiptap-editor-styles {
    @apply space-y-4;

    h1 {
        @apply text-4xl font-bold;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-2xl font-bold;
    }

    h4 {
        @apply text-xl font-bold;
    }

    h5 {
        @apply text-lg font-bold;
    }

    h6 {
        @apply text-base font-bold;
    }

    p {
        @apply text-base sm:text-sm;
    }

    mark {
        @apply px-1 py-0.5;
    }

    a {
        @apply underline;
        color: var(--color-accent);
    }

    ul,
    ol {
        @apply list-inside;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    blockquote {
        @apply py-1 pl-4 my-6 italic font-medium border-l-4;
        border-color: var(--border-color);
    }

    li p,
    blockquote p {
        @apply inline-block m-0;
    }

    blockquote::before,
    blockquote::after {
        content: "“";
    }

    hr {
        @apply my-6 border-t;
        border-color: var(--border-color);
    }

    b,
    strong {
        @apply font-medium;
    }
}

.livewire-tiptap-component {
    label.livewire-tiptap-label {
        @apply items-center text-sm font-medium text-zinc-800 dark:text-white flex mb-2;
    }

    .livewire-tiptap-wrapper {
        @apply w-full border rounded-lg block disabled:shadow-none dark:shadow-none appearance-none text-base sm:text-sm leading-[1.375rem] bg-white dark:bg-white/10 dark:disabled:bg-white/[7%] text-zinc-700 disabled:text-zinc-500 placeholder-zinc-400 disabled:placeholder-zinc-400/70 dark:text-zinc-300 dark:disabled:text-zinc-400 dark:placeholder-zinc-400 dark:disabled:placeholder-zinc-500 shadow-xs border-zinc-200 border-b-zinc-300/80 disabled:border-b-zinc-200 dark:border-white/10 dark:disabled:border-white/5 data-invalid:shadow-none data-invalid:border-red-500 dark:data-invalid:border-red-500 disabled:data-invalid:border-red-500 dark:disabled:data-invalid:border-red-500;

        &.with-focus {
            @apply focus-within:outline-hidden focus-within:ring-2 focus-within:ring-accent focus-within:ring-offset-2 focus-within:ring-offset-accent-foreground;
        }

        .livewire-tiptap-toolbar {
            @apply flex flex-wrap items-center gap-1.5 p-1.5 overflow-x-auto bg-zinc-50 dark:bg-white/[6%] dark:border-white/5 border-b border-zinc-200 dark:border-white/10 rounded-t-[calc(0.5rem-1px)] relative overflow-visible z-10;

            .livewire-tiptap-toolbar-button {
                @apply p-0.5 flex items-center justify-center text-sm font-medium rounded-md touch-manipulation text-zinc-400 data-open:text-zinc-800 hover:text-zinc-800 focus:text-zinc-800 data-match:text-zinc-800 disabled:opacity-75 dark:disabled:opacity-75 disabled:cursor-default disabled:pointer-events-none dark:text-zinc-400 dark:data-open:text-white dark:focus:text-white dark:data-match:text-white hover:bg-zinc-200 dark:hover:bg-white/10 dark:hover:text-white;

                svg {
                    @apply size-5;
                }

                .livewire-tiptap-toolbar-dropdown-button-chevron {
                    @apply size-4;
                }
            }

            .livewire-tiptap-toolbar-button-active {
                @apply text-zinc-800 bg-zinc-50;
            }

            .livewire-tiptap-toolbar-dropdown {
                /* @apply relative; */
            }

            .livewire-tiptap-toolbar-dropdown-menu {
                @apply absolute min-w-[10rem] z-10 rounded-lg border border-zinc-200 dark:border-zinc-600 bg-white dark:bg-zinc-700 shadow-xs p-[5px];
            }

            .livewire-tiptap-toolbar-separator {
                @apply h-4 border-0 bg-zinc-200 dark:bg-white/20 w-px;
            }

            .livewire-tiptap-toolbar-spacer {
                @apply flex-1;
            }
        }

        .livewire-tiptap-editor {
            @apply z-0;

            div {
                @apply py-3 leading-[1.375rem] ps-3 pe-3 overflow-y-auto min-h-[200px] max-h-[500px];
            }

            p.is-editor-empty:first-child::before {
                content: attr(data-placeholder);
                float: left;
                height: 0;
                pointer-events: none;
                @apply text-zinc-400 disabled:text-zinc-400/70 dark:text-zinc-400 dark:disabled:text-zinc-500;
            }
        }
    }

    .livewire-tiptap-error-message {
        @apply mt-3 text-sm font-medium text-red-500 dark:text-red-400;
    }

    &[data-invalid] .livewire-tiptap-wrapper {
        @apply shadow-none border-red-500 dark:border-red-500 disabled:border-red-500 dark:disabled:border-red-500;
    }
}

.tippy-box[data-theme~='livewire-tiptap-toolbar-button-tooltip'] {
    @apply relative py-2 px-2.5 rounded-md text-xs text-white font-medium bg-zinc-800 dark:bg-zinc-700 dark:border dark:border-white/10 p-0 overflow-visible;
}

@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
